body {
  background-color: #1f2430;
  color: #e4e7ec;
}
h1 {
  text-align: center;
}

<!--centralizador-->
main {
  max-width: 800px;
  margin: 0 auto;
  padding: 0 1rem;
}
<!--gimenu-->
nav ul {
  list-style: none;
  padding: 0;
  display: flex;
  gap: 20px;
}

nav a {
  color: #9aa3b2;
  text-decoration: none;
}

nav a:hover {
  color: #e4e7ec;
}
<!--separar_secoes-->
section {
  padding: 2rem 0;
  border-bottom: 1px solid #384054;
}